* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    padding: 40px;
    font-size: 40px;
}


.pause {
margin-top: 20px;
padding: 10px;
border-radius: 10px;
width: 100px;
height: 50px;
font-size: 20px;
}

.restart {
margin-top: 20px;
padding: 10px;
border-radius: 10px;
width: 100px;
height: 50px;
font-size: 20px;
}